@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

body {
    margin: 0;
    background-color: black;
    overflow: hidden; /*no scroll*/
}

/* div {
    border: solid 2px red;
} */

button.login-button {
    position: absolute;
    top: 2vh;
    left: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

button.login-button:hover {
    background-color: white;
}

img.login-img {
    position: static;
    display: inline-block;
    width: 2.3vw;
    padding-left: 5px;
    padding-top: 8px;
}

h1.login-h1 {
    position: relative;
    display: inline-block;
    top: -0.55vh;
    color: #2e2e2e;
    font-family: "capriola";
    font-size: 30px;
    margin: 0;
    padding-right: 10px;
}

button.logout-button {
    position: absolute;
    top: 9.5vh;
    left: 1vw;
    color: #1A1A2E;
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 2px rgba(46, 46, 46, 0.5); /* #2e2e2e */
    border-radius: 8px;
    font-family: "capriola";
    font-size: 20px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
}

button.logout-button:hover {
    background-color: white;
}

video.cafe-video {
    position: absolute;
    width: 130%;
    left: -15vw;
    top: -10vw;
    z-index: -2;
}

button.door-button {
    position: absolute;
    width: 156px;
    height: 308px;
    top: 405px;
    left: 622px;
    border: none;
    opacity: 0;
}

button.door-button:hover {
    background-color: red;
    opacity: 0;
}