<!-- the parent template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    <!-- defines where the child files will add HTML code -->
    {% block head %}{% endblock %}
</head>

<body>
    <div id="wrapper-div">
        {% block body %}{% endblock %}
    </div>

    <form action="/login" method="GET">
        <button id="login-button" {% if current_user.is_authenticated %} style="pointer-events:none" {% endif %}>

            <img id="login-img" src="{{ url_for('static', filename='images/user.png') }}">
            
            <h1 id="login-h1">
                {% if current_user.is_authenticated %} {{ current_user.username }} {% else %} Log in {% endif %}
            </h1>
        </button>
    </form>

    <form action="/logout" method="GET"">
        <button id="logout-button" {% if not current_user.is_authenticated %} style="display:none" {% endif %}>Log out</button>
    </form>

    <script>
        window.addEventListener("load", () => {
            var wrapperDiv = document.getElementById("wrapper-div");

            wrapperDiv.classList.add("active");
        });
    </script>
</body>
</html>