<!-- inherit all the code from base.html -->
{% extends 'base.html' %}

<!-- add HTML code in the blocks -->
{% block head %}
<title>Wise Cat Café</title>
{% endblock %}

{% block body %}

<h1>WiWiWi!!!</h1>

<h2>Welcome, {{ current_user.username }}!</h2>

<form action="/logout" method="GET"">
    <button>Log Out</button>
</form>

<h2>{{ wisdom }}</h2>

<!-- access variables set within app.py -->
<img src="{{ img }}" alt="cat" style="width:500px">

<br>

<table>
    <form action="/summon" method="GET">
        <div {% if hide_summon %} style="display:none" {% endif %}>
            
            <button>summon new cat!</button>
        </div>
    </form>

    <br>

    <form action="/adopt" method="POST">
        <div {% if hide_adopt %} style="display:none" {% endif %}>
            
            <input type="text" name="name" required> <!--temp input validation-->
            <button>adopt!</button>
        </div>
    </form>

    <br>

    <form action="/home" method="GET">
        <div {% if hide_adopt %} style="display:none" {% endif %}>

            <button>abandon!</button>
        </div>
    </form>
</table>

{% endblock %}