<!-- inherit all the code from base.html -->
{% extends 'base.html' %}

<!-- add HTML code in the blocks -->
{% block head %}

<!-- each page will now have its own style sheet -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<title>Wise Cat Café</title>

{% endblock %}

{% block body %}

<video id="cafe-video" class="cafe-video" src="{{ url_for('static', filename='videos/wise_cat_cafe_anim.mp4') }}"></video>

<form id="summon-form" action="/summon" method="GET">
    <button id="door-button" class="door-button"
    {% if summoned %} style="pointer-events:none" {% endif %}></button>
</form>

<script>
    cafeVideo = document.getElementById("cafe-video");
    catImg = document.getElementById("cat-img");
    xBlackbarTop = document.getElementById("x-blackbar-div-top");
    xBlackbarBottom = document.getElementById("x-blackbar-div-bottom");
    summonForm = document.getElementById("summon-form");
    doorButton = document.getElementById("door-button");
    wisdomDiv = document.getElementById("wisdom-div");
    adoptButton = document.getElementById("adopt-button");
    abandonButton = document.getElementById("abandon-button");

    document.addEventListener("DOMContentLoaded", () => {
        if("{{ summoned }}") {
            cafeVideo.currentTime = 50;
        }
    });

    summonForm.addEventListener("submit", () => {
        doorButton.style.pointerEvents = "none";

        cafeVideo.play();

        xBlackbarTop.classList.add("active1");
        xBlackbarBottom.classList.add("active1");
    });
    
    catImg.addEventListener("load", (event) => {
        if("{{ summoned }}") {
            event.target.classList.add("active");

            setTimeout(() => {
                xBlackbarTop.classList.add("active2");
                xBlackbarBottom.classList.add("active2");
            }, 1000);

            setTimeout(() => {
                catImgWidthPX = catImg.offsetWidth;
                catImgHeightPX = catImg.offsetHeight;
                catImgWidthVW = (catImgWidthPX / window.innerWidth) * 100;
                catImgHeightVH = (catImgHeightPX / window.innerHeight) * 100;

                if(catImgWidthPX > catImgHeightPX) {
                    wisdomDivLeftVW = 50 - catImgWidthVW / 2;

                    wisdomDiv.style.left = wisdomDivLeftVW + "vw";
                    wisdomDiv.style.maxWidth = catImgWidthVW + "vw";

                } else {
                    xPaddingVW = 30;

                    wisdomDiv.style.left = xPaddingVW + "vw";
                    wisdomDiv.style.maxWidth = (100 - 2 * xPaddingVW) + "vw";
                }

                wisdomDiv.classList.add("active");

                adoptButton.classList.add("active");
                abandonButton.classList.add("active");
            }, 1500);
        }
    });
</script>

{% endblock %}