<!-- inherit all the code from base.html -->
{% extends 'base.html' %}

<!-- add HTML code in the blocks -->
{% block head %}
<title>Wise Cat Café</title>
{% endblock %}

{% block body %}

<form action="/login" method="GET">
    <button class="login" {% if current_user.is_authenticated %} style="pointer-events:none" {% endif %}>

        <img class="login" src="{{ url_for('static', filename='images/user.png') }}">
        
        <h1 class="login">{% if current_user.is_authenticated %} {{ current_user.username }} {% else %} Log in {% endif %}</h1>
    </button>
</form>

<form action="/logout" method="GET"">
    <button class="logout" {% if not current_user.is_authenticated %} style="display:none" {% endif %}>Log out</button>
</form>

<video id="wise-cat-cafe" class="wise-cat-cafe" src="{{ url_for('static', filename='videos/wise_cat_cafe_anim.mp4') }}"></video>

<form action="/summon" method="GET" onsubmit="open_door(); activate_black_bars()">
    <button id="door-clickbox" class="door-clickbox"></button>
</form>

<h2>{{ wisdom }}</h2>

<img src="{{ img }}" style="width:500px">

<div id="black-bar-top" class="black-bar-top"></div>
<div id="black-bar-bottom" class="black-bar-bottom"></div>

<br>

<table>
    <form action="/adopt" method="POST">
        <div {% if hide_adopt %} style="display:none" {% endif %}>
            
            <input type="text" name="name" required> <!--temp input validation-->
            <button>adopt!</button>
        </div>
    </form>

    <br>

    <form action="/home" method="GET">
        <div {% if hide_adopt %} style="display:none" {% endif %}>

            <button>abandon!</button>
        </div>
    </form>
</table>

<script>
    function open_door() {
        var video = document.getElementById("wise-cat-cafe");
        var door_clickbox = document.getElementById("door-clickbox");

        video.play();
        door_clickbox.style.pointerEvents = "none";
    }

    function activate_black_bars() {
        var black_bar_top = document.getElementById("black-bar-top");
        var black_bar_bottom = document.getElementById("black-bar-bottom");

        black_bar_top.classList.add("active");
        black_bar_bottom.classList.add("active");
    }
</script>

{% endblock %}