{% extends 'base.html' %}

{% block body %}

<form action="/signup" method="POST">

    <h2>Username</h2>
    <p style="color:red">{{ username_error }}</p>
    <input type="text" name="username" value="{{ username }}" required></input>

    <h2>Password</h2>
    <p style="color:red">{{ password_error }}</p>
    <input type="text" name="password" required>

    <h2>Confirm Password</h2>
    <p style="color:red">{{ confirmed_pass_error }}</p>
    <input type="text" name="confirm_password" required>

    <button>Sign Up</button>
</form>

<br>

<form action="/login" method="GET">
    <button>Back to Login</button>
</form>

{% endblock %}