{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/summon.css') }}">

<title>Wise Cat Café</title>

{% endblock %}

{% block body %}

<div id="wrapper-div">

    <div id="background-div"></div>

    <form action="/home" method="GET">
        <button class="cat-button adopt">Adopt</button>
    </form>

    <form action="/home" method="GET">
        <button class="cat-button abandon">Abandon</button>
    </form>

    <div id="cat-div">
        <img id="cat-img" src="{{ img }}">

        <div id="triangle-div"></div>

        <div id="speech-div">Bro… I literally blink once and suddenly it’s 3AM, my drink is empty, my back hurts like I’ve been carrying the entire Roman Empire, and I don’t even remember what I was doing. Life really said “skill issue.”</div>
    </div>

</div>

<!-- <form action="/adopt" method="POST">
    <div
    {% if hide_adopt %} style="display:none" {% endif %}>
        <input type="text" name="name" required>
        <button>adopt!</button>
    </div>
</form> -->

<script>
    window.addEventListener("load", () => {
        var catImg = document.getElementById("cat-img");
        var catDiv = document.getElementById("cat-div");
        var triangleDiv = document.getElementById("triangle-div");
        var wrapperDiv = document.getElementById("wrapper-div");

        if(catImg.offsetWidth >= catImg.offsetHeight) {
            catDiv.classList.add("horizontal");
            catImg.classList.add("horizontal");
            triangleDiv.classList.add("horizontal");
        } else {
            catImg.classList.add("vertical");
            triangleDiv.classList.add("vertical");
        }
        wrapperDiv.classList.add("active");
    });
</script>

{% endblock %}